<% content_for :title, 'Team Results' %>

<h2>Team Results</h2>
<% if @player %>
  <p><%= select_tag('team', options_for_select(options_from_players(@players), @player.id), :onchange => 'playerSelected(this);') %></p>
<% else %>
  <p>No players are registered yet.</p>
<% end %>

<% if @overall_results %>
  <%= render 'index',  overall_results: @overall_results, player: @player, stages: @stages %>
<% else %>
  <p><%= time_to_tour_results(@tour) %></p>
<% end %>

<script>
  function playerSelected(selectedObject) {
    const year = <%= @year %>;
    window.location = `/tdf_game/teams/${year}/${selectedObject.value}`;
  }
</script>
