<% content_for :title, 'Team Results' %>

<h2>Team Results</h2>
<% if @tour.year == 2024 %>
  <p>We've found a bug that in rare cases causes the scores to be shown in the wrong row i.e. attributed to the wrong rider.
  The totals are correct as are the stage and overall pages. We're working to correct this problem.</p>
<% end %>
<% if @player %>
  <p><%= select_tag('team', options_for_select(options_from_players(@players), @player.id), :onchange => 'playerSelected(this);') %></p>
<% else %>
  <p>No players are registered yet.</p>
<% end %>

<% if @overall_results %>
  <%= render 'index',  overall_results: @overall_results, player: @player, stages: @stages %>
<% else %>
  <p><%= time_to_tour_results(@tour) %></p>
<% end %>

<script>
  function playerSelected(selectedObject) {
    const year = <%= @year %>;
    if (window.location.href.includes("tdf_game")) {
      window.location = `/tdf_game/teams/${year}/${selectedObject.value}`;
    } else {
      window.location = `/teams/${year}/${selectedObject.value}`;
    }
  }
</script>
