<% content_for :title, 'Overall Results' %>

<h2>Overall Results</h2>

<% if @podium %>
  <%= render 'index',  podium: @podium, wannabees: @wannabees, peleton: @peleton, date: @date, tour: @tour %>
<% else %>
  <p><%= time_to_tour_results(@tour) %></p>
<% end %>
