<% content_for :title, 'Overall Results' %>

<h2>Overall Results</h2>

<% if @overall_results %>
  <%= render 'index',  overall_results: @overall_results, date: @date %>
<% else %>
  <p><%= time_to_tour_results(@tour) %></p>
<% end %>
