<% content_for :title, 'Stage Results' %>

<h2>Stage Results</h2>
<p><%= select_tag('stage', options_for_select(options_from_stages(@stages), @stage.number), :onchange => 'stageSelected(this);') %></p>

<% if @stage.game_stage? %>
  <% if @stage_results.present? %>
    <%= render partial: 'stage_results', locals: { stage_results: @stage_results, winner_points: @winner_points } %>
  <% else %>
    <p><%= time_to_stage_results(@stage) %></p>
  <% end %>
<% else %>
  <p>This stage is not part of the game.</p>
<% end %>

<script>
  function stageSelected(selectObject) {
    const year = <%= @year %>;
    window.location = `/tdf_game/stages/${year}/${selectObject.value}`;
  }
</script>
